:root {
    --cloud-blue: #89A4B0;
    --pastry-gold: #DEA75B;
    --steely-charcoal: #2B2624;
}

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}

h2,
p,
a,
li,
span,
.button a {
    font-family: 'Antarctican Mono', Antarctican Mono, antarctican-mono, monospace;
    font-weight: 500;
    font-size: 17pt;
    line-height: 1.6;
    color: var(--steely-charcoal);
    text-decoration: none;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
}

span, p, li {
    font-size: 14pt;
}

h2 {
    color: white;
    background-color: var(--cloud-blue);
    width: fit-content;
    padding: 5px;
    padding-left: 16px;
    padding-right: 10px;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3pt;
}

h2:after {
    position: absolute;
    border-left: 17pt solid var(--cloud-blue);
    border-top: 17pt solid transparent;
    border-bottom: 17pt solid transparent;
    content: "";
    height: 0;
    width: 0;
    margin-top: -5px;
    margin-left: 10px;
}

.button a {
    color: var(--pastry-gold);
    transition: color 0.2s ease;
}

.button a {
    color: white;
}

.sub {
    font-size: 9pt;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5pt;
    transition: all 0.2s ease;

}

.coffee-wrapper:hover .sub {
    color: var(--pastry-gold);
}
.littleoak-link-wrapper {
    position: absolute;
    right: 40px;
    top: 35px;
    opacity: 0;
    pointer-events: none;

}

.littleoak-logo {
    display: inline-block;
    margin-left: 15px;
    background-image: url(images/logos/littleoak-logo.svg);
    background-size: cover;
    background-position: left;
    height: 29px;
    transform: translateY(6px);
    transition: background-image 0.2s ease, width 0.2s ease-out;                    
    width: 23px;

}

.littleoak-link-wrapper:hover .littleoak-logo {
    background-image: url(images/logos/littleoak-logo-light.svg);
    width: 140.3px;
    -webkit-transition: background-image 0.2s ease, width 0.4s ease-out;
    -o-transition: background-image 0.2s ease, width 0.4s ease-out;
    transition: background-image 0.2s ease, width 0.4s ease-out;
}

.logo:nth-child(1) img {
    position: absolute;
    width: 120px;
    margin-left: calc(50vw - 60px);
    top: 39%;
    opacity: 0;
    -webkit-animation: fadein-out 2s forwards 0s ease;
            animation: fadein-out 2s forwards 0s ease;
    opacity: 0;
}

.logo:nth-child(2) img:nth-child(1) {
    position: absolute;
    width: 500px;
    margin-left: calc(50vw - 250px + 20px);
    top: 32%;
    -webkit-animation: fadein 0.8s forwards 2s ease;
            animation: fadein 0.8s forwards 2s ease;
    opacity: 0;
}

.logo:nth-child(2) img:nth-child(2) {
    position: absolute;
    width: 500px;
    margin-left: calc(50vw - 250px + 20px);
    top: 32%;
    -webkit-animation: fadein-notrans 0.1s forwards 4.166s ease;
            animation: fadein-notrans 0.1s forwards 4.166s ease;
    opacity: 0;
}


.button {
    display: inline;
    border-bottom: 4pt solid var(--pastry-gold);
    padding: 5px;
}

.button:hover {
    color: white;
    cursor: pointer;
    background-color: var(--pastry-gold);
}

.button:hover:after {
    position: absolute;
    border-left: 17pt solid var(--pastry-gold);
    border-top: 17pt solid transparent;
    border-bottom: 17pt solid transparent;
    content: "";
    height: 0;
    width: 0;
    margin-top: 10px;
    margin-left: 5px;
}

.button:hover:before {
    position: absolute;
    background-color: var(--pastry-gold);

    content: "";
    height: 34pt;
    width: 7px;
    margin-top: 10px;
    margin-left: -10px;
}
.address-button:hover span {
    color: white;
}
.address-button:hover:after {
    margin-top: 11px;
    border-left: 17pt solid var(--pastry-gold);
    border-top: 17pt solid transparent;
    border-bottom: 17pt solid transparent;
}
.address-button:hover:before {
    margin-top: 11px;
    height: 34pt;
}

.socials-wrapper {
    top: 30px;
    position: absolute;
    left: 40px;
}
.socials-wrapper a {
    display: block;  
    line-height: 2.7;
}
.home-info-wrapper {
    position: relative;
    margin: auto;
    width: 800px;
    margin-top: 53vh;
    text-align: center;
}
.typewriter span {
    line-height: 3.5;
}
.section {
    position: relative;
    margin: auto;
    width: 800px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.hours-wrapper .two-column{
    width: 300px;
}
.two-column {
    column-count: 2;
    column-gap: 5px;
}

.contact-wrapper {
    padding-right: 300px;
    padding: 40px;
    background-color: var(--cloud-blue);
    column-count: 2;
    position: auto;
    margin: 0;
    width: auto;
}
.contact-wrapper h2 {
    font-size: 14pt;
    margin-bottom: 30px;
}
.contact-wrapper h2, .contact-wrapper a, .contact-wrapper p {
    color: white;
} 

.space {
    visibility: hidden;
}

.littleoak-link-wrapper, .socials-wrapper a, .home-info-wrapper, .about-wrapper, .hours-wrapper, .coffee-wrapper {
    animation: fadein 0.8s forwards ease;
    opacity: 0;
    animation-delay: 2.5s;
}
.menu-wrapper ul {
    position: fixed;
    top: calc(50vh - 19px);
}
.menu-wrapper ul li:hover .long-marker {
    width: 25px;
}
.menu-wrapper ul:hover li .menu-link {
    margin-left: 38px;
}
.menu-wrapper ul li:hover .menu-link {
    margin-left: 43px;
}
.long-marker {
    border: 1px solid var(--steely-charcoal);
    width: 20px;
    margin: 10px 0 10px 0;
    transition: all 0.2s ease;
}
.short-marker {
    border: 1px solid var(--steely-charcoal);
    width: 2px;
    margin: 10px 0 10px 0;
}
.menu-link {
    display: inline;
    float: left;
    margin-left: 40px;
    margin-top: -21px;
    transition: all 0.2s ease;
    cursor: pointer;
}
.anchor {
    position: absolute;
    margin-top: -60vh;
}

.section.active h2, .section.active p , .section.active ul, .section.active a {
    
}

.menu-link.active {
    color: var(--cloud-blue);
}

@keyframes fadein {
    from {
        opacity: 0;
        -webkit-transform: translateY(10px);
                transform: translateY(10px);
        pointer-events: none;
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        pointer-events: auto;
    }
}


@keyframes fadein-notrans {
    from {
        opacity: 0;
        pointer-events: none;
    }

    to {
        opacity: 1;
        pointer-events: auto;
    }
}

@keyframes fadein-out {
    0% {
        opacity: 0;
        -webkit-transform: translateY(3px);
                transform: translateY(3px);
    }

    20% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);

    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);

    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(3px);
                transform: translateY(3px);

    }
}